.produkcarddetail{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    height: auto;
    margin: 20px;
    padding: 20px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.imgbos{
    width: auto;
    height: 200px;
}
.produkcard{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    height: auto;
    margin: 20px;
    padding: 20px;
    justify-content: center;
   
}
.gambar{
    width: 500px;
    margin: auto;
   
}
.layoutContent{
    display: flex;
    width: 100%;
    flex-wrap: wrap;

}
.button{
    margin: 5px;
}
.backgroundImput{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-content: center;
    margin: 20px;

}
.BoxInput{
    width: 50%;
    height: 400px;
    display: block;
}
.contentCArd{
    height: 20px;
    overflow: hidden;
}