.backClik{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    background-color:rgb(118, 74, 221);
    height: 400px;
    width: 100%;
    flex-wrap: wrap;
}
.kartuAtas{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 75px;
    margin: 20px;
    padding: 20px;
    justify-content: center;

}
.kartuUtama{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .5rem;
    box-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.16);
    text-align: center;
    height: 300px;
    margin: 20px;
    padding: 20px;
    margin-top: 50px;
    justify-content: center;
}

.penghitungAngka{
    height: 50px;
    width: 150px;
    font-size: 50px;
  
}
.btn-primary{
    width: 150px;
    height: 50px;
    margin: 5px;
}